# Ignore non-src folders
bin*
build*
doc*
lib*
TAGS

# Ignore local user files
src.local/

# Ignore temporary files
*~

# Ignore eclipse files
.cproject
.project
.metadata
.settings

# Ignore PDF in Manual
Manual/*.pdf
Manual/*.dvi
Manual/*.cfg

# Ignore EIRENE test cases
EIRENE-sample-cases
