# Ignore non-src folders
bin*
build*
doc*
lib*
TAGS

# Ignore local user files
src.local/

# backup files
*.bak
*.orig

# Ignore temporary files
*~

# object, archive,... files
*.[oa]
*.mod
TAGS

# error messages from compiler etc.
*.error

# Ignore eclipse files
.cproject
.project
.metadata
.settings

# Ignore PDF in Manual
Manual/*.pdf
Manual/*.dvi
Manual/*.cfg
Manual/*.out.ps

# Ignore EIRENE test cases
EIRENE-sample-cases
