% Make bibliography clickable

\def\worldcatsearch{https://www.worldcat.org/search?qt=worldcat_org_all&q=}

\newcommand{\doiorurl}[1]{%
  \iffieldundef{doi}{%
    \iffieldundef{url}{%
      \iffieldundef{isbn}{%
        \iffieldundef{issn}{%
          #1
        }{%
          \href{\worldcatsearch\strfield{issn}}{#1}%
        }%
      }{%
        \href{\worldcatsearch\strfield{isbn}}{#1}%
      }%
    }{%
      \href{\strfield{url}}{#1}%
    }%
  }{%
    \href{https://dx.doi.org/\strfield{doi}}{#1}%
  }%
}

\newcommand{\bibdrivercontent}[1]{%
  \ifboolexpr{%
    test {\ifhyperref}
    and
    not test {\iftoggle{bbx:url}}
    and
    not test {\iftoggle{bbx:doi}}
  }{%
    \doiorurl{#1}
  }{%
    #1
  }%
}

\let\OldDeclareBibliographyDriver\DeclareBibliographyDriver
\renewcommand{\DeclareBibliographyDriver}[2]%
  {\OldDeclareBibliographyDriver{#1}{\bibdrivercontent{#2}}}

